.input {
  padding: 0 16px 18px;
  border: none;
  border-bottom: 1px solid var(--colors-greyish-blue);
  color: var(--colors-pure-white);
  font-weight: var(--fw-light);
  font-size: var(--fz-body-m);
  background-color: transparent;
  outline: transparent;
  transition: border-bottom-color 0.2s ease-in-out;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  &:focus {
    border-bottom-color: var(--colors-pure-white);
  }
}
