:root {
  --colors-red: #fc4747;
  --colors-dark-blue: #10141e;
  --colors-greyish-blue: #5a698f;
  --colors-semi-dark-blue: #161d2f;
  --colors-pure-white: #fff;

  --fw-light: 300;
  --fw-medium: 500;

  --font-family: 'Outfit', sans-serif;

  --fz-heading-l: 32px;
  --fz-heading-m: 24px;
  --fz-heading-s: 24px;
  --fz-heading-xs: 18px;
  --fz-body-m: 15px;
  --fz-body-s: 13px;

  --letter-spacing: -0.5px;
}
